
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    html, body {
      width: 100%;
      height: 100%;
      overflow: hidden;
      background: #70c5ce;
      font-family: sans-serif;
    }

    canvas {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background: url("./download\ \(3\).jpg") no-repeat center/cover;
    }

    #settings {
      position: absolute;
      top: 15px;
      right: 15px;
      background: rgba(255, 255, 255, 0.8);
      border-radius: 10px;
      padding: 10px;
      text-align: center;
      z-index: 10;
    }

    button {
      margin: 5px;
      padding: 6px 12px;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      background: #67e0eb;
      font-weight: bold;
    }

    #score {
      position: absolute;
      top: 15px;
      left: 15px;
      background: rgba(255, 255, 255, 0.8);
      padding: 10px;
      border-radius: 50px;
      font-size: 22px;
      font-weight: bold;
      z-index: 10;
    }

    #bird, #pipe {
      display: none;
      border-radius: 50px
      ;
    }
  